/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* 헤더 스타일 */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* 날씨 정보 컨테이너 스타일 */
.weather-container {
    background-color: rgba(245, 245, 245, 0.8); /* 배경색의 투명도를 0.8로 설정 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.weather-forecast {
    background-color: rgba(245, 245, 245, 0.8); /* 배경색의 투명도를 0.8로 설정 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 47%;
    left: 1000px;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.info {
    background-color: rgba(245, 245, 245, 0.8); /* 배경색의 투명도를 0.8로 설정 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 150%;
    height: 10%;
    position: absolute;
    top: 110%;
    left: 110%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.weather-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.weather-text img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .weather-container {
        margin: 10px;   
        padding: 15px;
    }

    .weather-text {
        font-size: 16px;
    }

    .weather-text img {
        width: 25px;
        height: 25px;
    }
}
